@import "tailwindcss";

@theme {
  --color-primary: #035b73;
  --color-secondary: #f5f5f5;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  scroll-behavior: smooth;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

/* For mobile touch scrolling visibility */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
